{% extends 'base.html' %}{% block nav %}


<section class="py-5">
    <div class="row">
        <br>
        <div class="col-md-8" style="max-width: 300px;">
            <h2>LINK ACCESS DISTRIBUTION.. <span>XXXXXXXXXXXXXXXXXXXXXX.</span>
            </h2>
            <p class="lead">sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKK
            </p>
        </div>
        <div class="col-md-4" style="max-width: 400px;position: relative;left: 5%;margin-left: 5%;">
            <img class="img-fluid" src="{{static_url('images/b2b.png')}}">
        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-4" style="max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/extension.gif')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>EXETENNSION FEATURE. <span>XXXXXXXXXXXXXXXXXXXXXX.</span>
            </h2>
            <p class="lead">sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKK
            </p>
        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-4" style="max-width: 400px;margin-top: 5%;">
            <img class="img-fluid" src="{{static_url('images/b2b2.png')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>DATA TRACKING(BIG DATA ANALYSIS). <span>XXXXXXXXXXXXXXXXXXXXXX.</span>
            </h2>
            <p class="lead">sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKK
            </p>
        </div>
    </div>
</section>

<section class="sectionbottom col-md-12" style="text-align: center; line-height: 50px;width: 100%;background-color: #00863d;color: #fff;border-radius: 2%;">
    <h2>Try 2A Now,You will like it</h2>
    <p>Just one click, you get the secrect behind the link</p>
    <center>
        <a href="/" style="cursor: pointer; border: none; text-decoration: none; display: flex; height: 40px; text-align: center; outline: none; -webkit-box-pack: center; align-items: center;justify-content: center; line-height: 40px;width: 100px;border-radius: 5%; background-color: #fff;position: relative;bottom: 10px;">
        Get Started
    </a>
    </center>
</section>

{% end %}