{% extends 'base.html' %}{% block nav %}


<section class="py-5">
    <div class="row">
        <br>
        <div class="col-md-8" style="max-width: 300px;">
            <h2>Detailed Short Link Information
            </h2>
            <p class="lead">Using the 2a.nz URL shortener allows you to get detailed information regarding who clicked your shortened link and when.
            </p>
        </div>
        <div class="col-md-4" style="max-width: 400px;position: relative;left: 5%;margin-left: 5%;">
            <img class="img-fluid" src="{{static_url('images/b2b.png')}}">
        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-4" style="max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/extension.gif')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>Browser Extension
            </h2>
            <p class="lead">We have developed a browser extension that when clicked, copies the URL of the webpage you are currently on, then takes you to 2a.nz where you can paste in your long URL for even faster shortening.
            </p>
        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-4" style="max-width: 400px;margin-top: 5%;">
            <img class="img-fluid" src="{{static_url('images/b2b2.png')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>Big Data Representation
            </h2>
            <p class="lead">Each link that you create has an advanced statistic page created automatically. This data is represented in many different ways, some of which are; World maps, device pie charts, calendars and much more.
            </p>
        </div>
    </div>
</section>

<section class="sectionbottom col-md-12" style="text-align: center; line-height: 50px;width: 100%;background-color: #00863d;color: #fff;border-radius: 2%;">
    <h2>Try 2a.nz</h2>
    <p>More accurate data, useful graphs, no sign up and it's 100% free</p>
    <center>
        <a href="/" style="cursor: pointer; border: none; text-decoration: none; display: flex; height: 40px; text-align: center; outline: none; -webkit-box-pack: center; align-items: center;justify-content: center; line-height: 40px;width: 100px;border-radius: 5%; background-color: #fff;position: relative;bottom: 10px;">
        Get Started
    </a>
    </center>
</section>

{% end %}