<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#4f4f4f">
    <meta name="theme-color" content="#007e30">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4f4f4f">
    <title>2A URL SHORTENER</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('bootstrap-master/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{static_url('images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{static_url('images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{static_url('images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{static_url('images/site.webmanifest')}}">
    <link rel="mask-icon" href="{{static_url('images/safari-pinned-tab.svg')}}" color="#008d36">
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js "></script>
    <script src=" https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js "></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js "></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <!-- head nav start -->
    <div class="head-nav-container">
        <div class="head-nav-container-main">
            <nav class="navbar fixed-top navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav head-nav-ul-right ml-auto">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item"><a href="/marketing">About</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item Scenarios">
                            <a href="#">Features</a>
                            <ul class="Scenarios-box ">
                                <li><a href="/b2b">Business Use</a></li>
                                <li><a href="/socialmedia">Social Media</a></li>
                                <li><a href="/sms">SMS sharing</a></li>
                            </ul>
                            <img src="{{static_url('images/downarrow.png')}}" class="downarrow ">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- head nav end -->
    <br>
    <!-- card start -->
    <div class="biglogo">
        <iframe src="{{static_url('images/2a.nz.svg')}}" width="20%" height="100%" class="big_logo" frameborder="0"></iframe>
    </div>
    <div style="overflow: auto;">
        <div class="container margintop">
            <!-- <center> -->
            <div class="row rowcenter" style="display: table-cell;vertical-align: middle;">
                <div class="container-content col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <center>
                                <!-- {{data["cardTitle"]}} -->
                                 For even faster shortening, use our <a href="https://chrome.google.com/webstore/detail/2anz-url-shortener/mnobonaidodmlbkpeffldpjkjboiclhc/" target="_blank">Chrome extension here</a>
                            </center>
                        </div>
                        <div class="card-body">
                            {% block nav %} {% end %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- </center> -->
        </div>
    </div>
    <!-- card end -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <!-- foot nav start -->
    <div class="foot-nav-container-content">
        <div class="foot-nav-container-main-footer">
            <ul class="nav justify-content-center foot-nav-ul">
                <a><img style="width: 32px;height:32px;position: absolute;margin-top: 4px;margin-left: -10px;" src="{{static_url('images/github-logo.png')}}" alt="">
                </a>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/haganmao/2A-SHORTURL">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/policy">Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/term">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: #9e9e9e;" href="#">Language</a>
                </li>
            </ul>
        </div>
    </div>
    <center>
        <p class="copyright">
            © 2020 2A.NZ ShortURL. All Rights Reserved.
        </p>
    </center>
    <!-- foot nav end -->
</body>

</html>
