<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#4f4f4f">
    <meta name="theme-color" content="#4f4f4f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4f4f4f">
    <title>2A URL SHORTENER</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('bootstrap-master/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <link rel="mask-icon" href="../static/images/safari-pinned-tab.svg" color="#008d36">
    <script src=" https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js "></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js "></script>
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js "></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js "></script>
</head>

<body>
    <!-- head nav start -->
    <div class="head-nav-container">
        <div class="head-nav-container-main">
            <!-- nav left start -->
            <ul class="head-nav-ul-left">
                <li>
                    <!-- <a href="/">
                        <img style="height:38px;line-height: 38px; margin-top: -4px;" src="../static/images/2a.nz.logo.PNG" alt="">
                    <iframe src="../static/images/2a.nz.svg" frameborder="0" style=" line-height: 24px;height: 24px;"></iframe>
                    </a> -->
                </li>
            </ul>

            <!-- nav left end -->

            <!-- nav right start -->
            <ul class="head-nav-ul-right">
                <li>
                    <a href="/">Home</a></li>

                <li class="Scenarios">
                    <a href="#">Scenarios</a>
                    <ul class="Scenarios-box">
                        <li><a href="#">B2B</a></li>
                        <li><a href="#">SocialMedia</a></li>
                        <li><a href="#">SMS</a></li>
                    </ul>
                    <img src="../static/images/downarrow.png" class="downarrow">
                </li>

                <li><a href="#">Guide</a></li>

                <li>
                    <a href="#">Contact</a></li>
            </ul>
            <!-- nav right end -->
        </div>
    </div>
    <!-- head nav end -->
    <div class="container margintop">
        <div class="container-content col-md-12">
            <div class="card">
                <div class="card-header">
                    <center>
                        {{data["cardTitle"]}}
                    </center>
                </div>
                <div class="card-body">
                    {% block nav %} {% end %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <center>
        <div class="biglogo">
            <a>
                <iframe src="../static/images/2a.nz.svg" frameborder="0" style=" line-height: 720px;height:360px;"></iframe>
            </a>
        </div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <!-- foot nav start -->
    <div class="foot-nav-container-content">
        <div class="foot-nav-container-main-footer">
            <ul class="foot-nav-ul">
                <li><a href="https://github.com/haganmao/2A-SHORTURL">Github</a>
                    <img style="width: 16px;height:16px;" src="../static/images/github-logo.png" alt=""></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li class="language">
                    <a href="">Language</a></li>
            </ul>
            <p class="copyright">
                © 2020 2A SHORTURL Inc. All Rights Reserved.
            </p>
        </div>
        <br>
    </div>
    <!-- foot nav end -->
    {% block foot %}{% end %}
</body>

</html>