<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }
    </style>

</head>

<body>
    <div class="midbox">
        <h1>
            <center>404</center>
        </h1>

        <span id="span1">
            <center>Oops! Page not found</center>
        </span>
        <span id="span2">
            <center>If you think you have arrived here by our mistake, please
                <span> <a href="">contact us</a></span>
        </center>
        </span>
    </div>
    </div>
</body>

</html>