{% extends 'base.html' %}{% block nav %}
<form id="formdata" action="/overview">
    <div class="form-group">
        <center>
            <div id="valid_url"></div>
        </center>
        <label for="longurl"></label> {% raw xsrf_form_html() %}
        <input class="form-control"  name="url" type="url" id="url" rows="6" placeholder="Shorten your long link here!" spellcheck="false" autofocus>
        <br>
        <div class="expireTime">
            <div class="form-check form-check-inline">
                <label for="inlineRadio-oneday">1 day</label>
                <input name="expireTime" id="inlineRadio-oneday" type="radio" value="1" checked>
            </div>
            <div class="form-check form-check-inline">
                <label for="inlineRadio-oneweek">1 week</label>
                <input name="expireTime" id="inlineRadio-oneweek" type="radio" value="2">
            </div>
            <div class="form-check form-check-inline">
                <label for="inlineRadio-ultimated">Unlimited</label>
                <input name="expireTime" id="inlineRadio-ultimated" type="radio" value="3">
            </div>
            <div class="button">
                <button type="button" id="btn-short" class="btnS">Shorten</button>
                <button type="reset" id="btn-reset">Clear</button>
            </div>
        </div>
    </div>
</form>

<script>
    //jquery to create click event and ajax submit the request
    $(function() {
        $('#btn-short').click(function() {
            var formdata = $('#formdata').serializeArray();
            console.log(formdata);
            console.log(formdata[1].value);
            $.ajax({
                url: '/',
                type: "POST",
                data: formdata,
                dataType: "JSON",
                success: function(result) {
                    // console.log(result)
                    if (result.statuscode == 200) {
                        //direct to overview page
                        location.href = "/overview?uuid=" + result.uuid;
                    } else {
                        var fs = ['url'];
                        //get error message
                        for (var v in fs) {
                            if (typeof result[fs[v]] == 'undefined') {
                                $('#valid_' + fs[v]).empty(); //'#valid_url'
                            } else {
                                $('#valid_' + fs[v]).empty();
                                $('#valid_' + fs[v]).append(
                                    "<span class='text-danger'>" + formdata[1].value + ' ' + "</span>",
                                    "<span class='text-danger'>" + result[fs[v]] + "</span >"
                                );
                            }
                        }
                    }
                }
            })
        });
    });
</script>
{% end %} {% block foot %} {% end %}