{% extends 'base.html' %}{% block nav %}
<form class="form-content" action="">
    <div class="form-group">
        <label for="longurl"></label>
        <textarea class="form-control" name="longurl" type="url" id="longurl" rows="6" placeholder="Shorten your long link here!" spellcheck="false"></textarea>
        <br>
        <div class="button">
            <button type="button" id="btn-short" class="btnS">Shorten</button>
            <button type="reset" id="btn-reset">Clear</button>
        </div>
    </div>
</form>
{% end %}