<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2A URL SHORTENER</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>

<body>
    <!-- head nav start -->
    <div class="head-nav-container">
        <div class="head-nav-container-main">
            <!-- nav left start -->
            <ul class="head-nav-ul-left">
                <li>
                    <a href="/">Logo</a>
                </li>
                <li>
                    <a href="/">Name</a>
                </li>
            </ul>

            <!-- nav left end -->

            <!-- nav right start -->
            <ul class="head-nav-ul-right">
                <li>
                    <a href="/">Home</a></li>

                <li class="Scenarios">
                    <a href="#">Scenarios</a>
                    <ul class="Scenarios-box">
                        <li><a href="#">B2B</a></li>
                        <li><a href="#">SocialMedia</a></li>
                        <li><a href="#">SMS</a></li>
                    </ul>
                    <img src="../static/images/downarrow.png" class="downarrow">
                </li>

                <li><a href="#">Guide</a></li>

                <li>
                    <a href="#">Contact</a></li>
            </ul>
            <!-- nav right end -->
        </div>
    </div>
    <!-- head nav end -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <!-- foot nav start -->
    <div class="foot-nav-container">
        <div class="foot-nav-container-main">
            <ul>
                <li><a href="">Github</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms of Service</a></li>
                <li class="languages">
                    <a href="">Language(English)
                        <ul>
                            <li><a href="">简体中文</a></li>
                <li><a href="">日本語</a></li>
            </ul>
            </a>
            </li>
            </ul>
        </div>
        <div>
            © 2020 2A SHORTURL. All Rights Reserved.
        </div>
    </div>
    <!-- foot nav end -->

</body>

</html>