{% extends 'base.html' %}{% block nav %}
<section class="py-5">

    <div class="row">
        <div class="col-md-4" style="position: relative;margin-left: -5%;max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/sms1.png')}}">
        </div>
        <div class="col-md-8" style="max-width:300px;position: relative;text-align: center;top: 5%;left: 10%;">
            <h2>MESSAGE SHARING. <span>XXXXXXXXXXXXXX.</span>
            </h2>
            <p>sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKK
            </p>
        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>

        <div class="col-md-8 py-5" style="max-width:300px;position: relative;text-align: center; right:5%;margin-left: 5%;">
            <h2>EASY ACCESS. <span>XXXXXXXXXXXXXX.</span>
            </h2>
            <p>sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKK
            </p>
        </div>
        <div class="col-md-4" style="position: relative;max-width: 400px;text-align: center;">
            <img class="img-fluid" src="{{static_url('images/sms2.png')}}">
        </div>
        <hr>
        <br>
        <div class="col-md-4 py-5" style="position: relative;max-width: 400px;text-align: center;margin-left: -10%;">
            <img class="img-fluid" src="{{static_url('images/sms.gif')}}">
        </div>
        <div class="col-md-8" style="max-width:300px;position: relative;margin-top: 10%;left: 10%;text-align: center;">
            <h2>SUITABLE FOR MOBILE DEVICE. <span>XXXXXXXXXXXXXX.</span>
            </h2>
            <p>sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKK
            </p>
        </div>

    </div>

</section>
{% end %}