{% extends 'base.html' %}{% block nav %}
<section class="py-5">

    <div class="row">
        <div class="col-md-4" style="position: relative;margin-left: -5%;max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/sms1.png')}}">
        </div>
        <div class="col-md-8" style="max-width:300px;position: relative;top: 5%;left: 10%;">
            <h2>SMS Message Sharing
            </h2>
            <p class="lead">It is possible to include our short links within an SMS message.
            </p>
            <p class="lead">Some SMS apps like iMessage will also display a small preview of the site we are redirecting to.
            </p>
        </div>
        <hr>
        <br>
        <br>
        <div class="col-md-8 py-5" style="max-width:300px;position: relative; right:5%;margin-left: 5%;">
            <h2>Accessible From Anywhere
            </h2>
            <p class="lead">Both our shortened links and the shortening of our links can be done from anywhere!
            </p>
            <p class="lead">This includes within China and also on smart fridges <br>(both tried and tested).
            </p>

        </div>
        <div class="col-md-4" style="position: relative;max-width: 400px;text-align: center;">
            <img class="img-fluid" src="{{static_url('images/sms2.png')}}">
        </div>
        <hr>
        <br>
        <div class="col-md-4 py-5" style="position: relative;max-width: 400px;text-align: center;margin-left: -10%;">
            <img class="img-fluid" src="{{static_url('images/sms.gif')}}">
        </div>
        <div class="col-md-8" style="max-width:300px;position: relative;margin-top: 10%;left: 10%;">
            <h2>Suitable For Mobile Devices
            </h2>
            <p class="lead">The 2a.nz service has been optimised and fully functional for mobile devices.
            </p>
        </div>

    </div>

</section>
{% end %}