{% extends 'base.html' %}{% block nav %}

<section class="py-5">
    <div class="row">
        <div class="col-md-4" style="max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/sc1.png')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>Sharing on Social Media
            </h2>
            <p class="lead">Our super short links make it really easy to share in social media posts without using much of your precious character limit.
            </p>
        </div>
        <hr>
        <br>
        <div class="col-md-8" style="max-width: 300px;">
            <h2>QR Code Access
            </h2>
            <p class="lead">Every link that is created also generates a QR code that can be downloaded or printed for quick access.
            </p>

        </div>
        <div class="col-md-4" style="max-width: 400px;position: relative;left: 5%;margin-top: 5%;margin-left: 5%;">
            <img class="img-fluid" src="{{static_url('images/sc2.png')}}">
        </div>
        <hr>
        <br>
        <div class="col-md-4" style="max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/meassger.gif')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>Instant Messaging Apps
            </h2>
            <p class="lead">Our URL technology is fully compliant with IM services, meaning your short URL won't be blocked.
            </p>
            <p class="lead">It'll also show a preview of the page the user will be sent to (to show it's not a dodgy site).
            </p>
        </div>
    </div>
</section>

{% end %}