{% extends 'base.html' %}{% block nav %}

<section class="py-5">
    <div class="row">
        <div class="col-md-4" style="max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/sc1.png')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>SOCIAL MEDIA SHARING. <span>XXXXXXXXXXXXXXXXXXXXXX.</span>
            </h2>
            <p class="lead">sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKK
            </p>
        </div>
        <hr>
        <br>
        <div class="col-md-8" style="max-width: 300px;">
            <h2>QR CODE QUICK ACCESSING. <span>XXXXXXXXXXXXXXXXXXXXXX.</span>
            </h2>
            <p class="lead">sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKK
            </p>
        </div>
        <div class="col-md-4" style="max-width: 400px;position: relative;left: 5%;margin-top: 5%;margin-left: 5%;">
            <img class="img-fluid" src="{{static_url('images/sc2.png')}}">
        </div>
        <hr>
        <br>
        <div class="col-md-4" style="max-width: 400px;">
            <img class="img-fluid" src="{{static_url('images/meassger.gif')}}">
        </div>
        <div class="col-md-8" style="max-width: 300px;position: relative;left: 5%;margin-left: 5%;">
            <h2>MESSAGER EXPERIENCE. <span>XXXXXXXXXXXXXXXXXXXXXX.</span>
            </h2>
            <p class="lead">sXXXXXXXXXXXXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKK
            </p>
        </div>
    </div>
</section>

{% end %}