<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#4f4f4f">
    <meta name="theme-color" content="#4f4f4f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4f4f4f">
    <title>2A URL SHORTENER</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('bootstrap-master/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <link rel="mask-icon" href="../static/images/safari-pinned-tab.svg" color="#008d36">
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js "></script>
    <script src=" https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js "></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js "></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js "></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <!-- head nav start -->
    <div class="head-nav-container">
        <div class="head-nav-container-main">
            <nav class="navbar fixed-top navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav head-nav-ul-right ml-auto">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item disabled"><a href="#">Guide</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item Scenarios">
                            <a href="#">Scenarios</a>
                            <ul class="Scenarios-box ">
                                <li><a href="/b2b">B2B</a></li>
                                <li><a href="/socialmedia">SocialMedia</a></li>
                                <li><a href="/sms">SMS</a></li>
                            </ul>
                            <img src="../static/images/downarrow.png" class="downarrow ">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- head nav end -->
    <br>
    <br>
    <br>
    <br>


    <div class="biglogo">
        <iframe src="../static/images/2a.nz.svg" width="20%" height="100%" class="big_logo" frameborder="0"></iframe>
        <div style="font-weight: bold;">
            {{data['title']}}
        </div>
    </div>
    <div class="row col-md-12" style="text-align: center;margin-top: 5%;margin-left: -8px;border-bottom: 1px solid #000000;">
        <div class="col-md-3" style="background-color: #008d3d;">Highest IP: {{data['hIP']}}
        </div>
        <div class="col-md-3" style="background-color: #dbc12d;">Highest Clicked of Country: {{data['hCountry']}}
        </div>
        <div class="col-md-3" style="background-color: #378fc2;">Total: {{data['tclicks'] }}
        </div>
        <div class="col-md-3" style="background-color: #6bd408;">Daily: {{data['dclick']}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="text-align: left;background-color: #008d3d;">
            <div style="">
                <h4>Top 5 access IP</h4>
                <p>1. {{data['hIP1']}}</p>
                <p>2. {{data['hIP2']}}</p>
                <p>3. {{data['hIP3']}}</p>
                <p>4. {{data['hIP4']}}</p>
                <p>5. {{data['hIP5']}}</p>
            </div>
            <br>
            <hr>
            <div style="">
                <h4>Top 3 Countries</h4>
                <p>1. {{data['hCountry1']}}</p>
                <p>2. {{data['hCountry2']}}</p>
                <p>3. {{data['hCountry3']}}</p>
            </div>
        </div>
        <iframe style="position: relative;margin-top: 5%;" class="col-md-8" height="650" width="500" src="https://600ded1a.ngrok.io/worldmap?uuid={{data['uuid']}}" frameborder="0"></iframe>
    </div>
    <hr>
    <div class="row" style="position: relative;top: 0;">
        <div style="text-align: center;">
            <iframe class="col-md-6" style="margin-top: 10%;" height="600" width="400" src="https://600ded1a.ngrok.io/pie?uuid={{data['uuid']}}" frameborder="0"></iframe>
        </div>
    </div>
    <hr>
    <div class="row" style="position: relative;top: 0;">
        <div style="text-align: center;">
            <iframe class="col-md-6" style="margin-top: 10%;" height="550" width="400" src="https://600ded1a.ngrok.io/calendar?uuid={{data['uuid']}}" frameborder="0"></iframe>
        </div>
    </div>
    <hr>

    <center>
        <div class="row">
            <div class="col-md-6">
                <img src="{{data['src1']}}" alt="" width="400" height="400"></div>
            <div class="col-md-6">
                <img src="{{data['src2']}}" alt="" width="400" height="400">
            </div>
        </div>
    </center>

    

    <center>
        <p style="text-align: center;bottom: 0;color: #9e9e9e;font-size: smaller;">@All data statistics can not be used for commercial purposes, all data information subject to reference only. </p>
    </center>
    <!-- foot nav start -->
    <hr>
    <div class="foot-nav-container-content">
        <div class="foot-nav-container-main-footer">
            <ul class="nav justify-content-center foot-nav-ul">
                <a><img style="width: 32px;height:32px;position: absolute;margin-top: 4px;margin-left: -10px;" src="../static/images/github-logo.png" alt="">
                </a>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/haganmao/2A-SHORTURL">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/policy">Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/term">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: #9e9e9e;" href="#">Language</a>
                </li>
            </ul>
        </div>
    </div>
    <center>
        <p class="copyright">
            © 2020 2A SHORTURL Inc. All Rights Reserved.
        </p>
    </center>
    <!-- foot nav end -->



</body>


</html>