<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#4f4f4f">
    <meta name="theme-color" content="#007e30">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4f4f4f">
    <title>2A URL SHORTENER</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('bootstrap-master/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{static_url('images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{static_url('images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{static_url('images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{static_url('images/site.webmanifest')}}">
    <link rel="mask-icon" href="{{static_url('images/safari-pinned-tab.svg')}}" color="#008d36">
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js "></script>
    <script src=" https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js "></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js "></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <!-- head nav start -->
    <div class="head-nav-container">
        <div class="head-nav-container-main">
            <nav class="navbar fixed-top navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav head-nav-ul-right ml-auto">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item disabled"><a href="#">Guide</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item Scenarios">
                            <a href="#">Scenarios</a>
                            <ul class="Scenarios-box ">
                                <li><a href="/b2b">B2B</a></li>
                                <li><a href="/socialmedia">SocialMedia</a></li>
                                <li><a href="/sms">SMS</a></li>
                            </ul>
                            <img src="{{static_url('images/downarrow.png')}}" class="downarrow ">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- head nav end -->
    <br>

    <div class="biglogo">
        <iframe src="{{static_url('images/2a.nz.svg')}}" width="20%" height="100%" class="big_logo" frameborder="0"></iframe>
        <div style="font-weight: bold;">
            {{data['title']}}
            <p class="text-center" onClick="window.location.reload()" >Refresh the page or click this message to update the data below</p>
        </div>
    </div>
    <div class="row col-md-12" style="text-align: center;margin-top: 5%;margin-left: -8px;border-bottom: 1px solid #000000;border-top: 1px solid #000000;">
        <div class="col-md-3" style="background-color: #008d36;">Most frequent IP: {{data['hIP']}}
        </div>
        <div class="col-md-3" style="background-color: #dbc12d;">Most popular country: {{data['hCountry']}}
        </div>
        <div class="col-md-3" style="background-color: #378fc2;">Total number of clicks: {{data['tclicks'] }}
        </div>
        <div class="col-md-3" style="background-color: #6bd408;">Daily number of clicks: {{data['dclick']}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="text-align: left;background-color: #008d36;">
            <div>
                <h4>Top 5 most frequent IP addresses</h4>
                <p>1. {{data['hIP1']}}</p>
                <p>2. {{data['hIP2']}}</p>
                <p>3. {{data['hIP3']}}</p>
                <p>4. {{data['hIP4']}}</p>
                <p>5. {{data['hIP5']}}</p>
            </div>
            <br>
            <hr>
            <div>
                <h4>Top 3 most popular countries</h4>
                <p>1. {{data['hCountry1']}}</p>
                <p>2. {{data['hCountry2']}}</p>
                <p>3. {{data['hCountry3']}}</p>
            </div>
        </div>
        <iframe style="position: relative;margin-top: 5%;" class="col-md-8" height="650" width="500" src="http://2a.nz/worldmap?uuid={{data['uuid']}}" frameborder="0"></iframe>
    </div>
    <hr>
    <div class="row" style="position: relative;top: 0;">
        <div style="text-align: center;">
            <iframe class="col-md-6" style="margin-top: 10%;" height="600" width="400" src="http://2a.nz/pie?uuid={{data['uuid']}}" frameborder="0"></iframe>
        </div>
    </div>
    <hr>
    <div class="row" style="position: relative;top: 0;">
        <div style="text-align: center;">
            <iframe class="col-md-6" style="margin-top: 10%;" height="550" width="400" src="http://2a.nz/calendar?uuid={{data['uuid']}}" frameborder="0"></iframe>
        </div>
    </div>
    <hr>
    <center>
        <div class="row">
            <div class="col-md-6">
                <img src="{{data['src1']}}" alt="" width="400" height="400"></div>
            <div class="col-md-6">
                <img src="{{data['src2']}}" alt="" width="400" height="400">
            </div>
        </div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div style="overflow: auto; height: 30px;text-align: center;border-bottom: 1px solid #000000;font-weight: 900;height: max-content;">
        <p class="text-center" onClick="window.location.reload()" >Refresh the page or click this message to update the access history table below</p>

        <table class="table table-hover" id='tbnext' data-id="1" style="font-size: smaller;color: #5c5b5b;white-space: nowrap;height: 100%;">
            {% raw xsrf_form_html() %}
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Connect Type</th>
                    <th scope="col">OS Type</th>
                    <th scope="col">OS Name</th>
                    <th scope="col">Broswer Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
        </table>
        <center>
            <a class="btn" data-id="1" id="get_next" style="background-color:#df0b36;">Next</a>
            <div id="end_loading"></div>
        </center>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <p style="text-align: center;bottom: 0;color: #9e9e9e;font-size: smaller;">@All data statistics can not be used for commercial purposes, all data information subject to reference only. </p>
    </center>
    <!-- foot nav start -->
    <hr>
    <div class="foot-nav-container-content">
        <div class="foot-nav-container-main-footer">
            <ul class="nav justify-content-center foot-nav-ul">
                <a><img style="width: 32px;height:32px;position: absolute;margin-top: 4px;margin-left: -10px;" src="{{static_url('images/github-logo.png')}}" alt="">
                   </a>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/haganmao/2A-SHORTURL">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/policy">Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/term">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: #9e9e9e;" href="#">Language</a>
                </li>
            </ul>
        </div>
    </div>
    <center>
        <p class="copyright">
            © 2020 2A.NZ SHORTURL. All Rights Reserved.
        </p>
    </center>
    <!-- foot nav end -->

    <script>
        $(document).ready(function() {
            function getCookie(name) {
                var c = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return c ? c[1] : undefined;
            }

            function getPageData(pageNumber) {
                $.ajax({
                    url: '/static',
                    data: {
                        pageNumber: pageNumber,
                        _xsrf: getCookie("_xsrf"),
                        uuid: "{{data['uuid']}}"
                    },
                    datatype: 'json',
                    type: 'POST',
                    success: function(result) {
                        if (result.statuscode == 200) {
                            var datainfo = result.datainfo;
                            for (var dataValue in datainfo) {
                                var html = '<tr><td>' + datainfo[dataValue]['id'] + '</td><td>' + datainfo[dataValue]['short_url_requestIP'] + '</td><td>' + datainfo[dataValue]['short_url_access_connectType'] + '</td><td>' + datainfo[dataValue]['short_url_access_osType'] + '</td><td>' + datainfo[dataValue]['short_url_access_osName'] + '</td><td>' + datainfo[dataValue]['short_url_access_agent_name'] + '</td><td>' + datainfo[dataValue]['short_url_requestLocation'] + '</td><td>' + datainfo[dataValue]['short_url_createTime'] + '</td></tr>';
                                $('#tbnext').append(html);
                            }
                        } else {
                            $('#end_loading').empty();
                            $('#end_loading').append(
                                '<span> no more records avaliable! </span>'
                            );
                        }
                    }
                })
            }
            getPageData(1);

            $("#get_next").click(function() {
                var pageNumber = parseInt($(this).attr("data-id")) + 1;
                getPageData(pageNumber);
                $(this).attr("data-id", pageNumber);
            })
        });
    </script>
</body>


</html>