<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/contact">
        <h1>Contact Us</h1>
        <p>We aim to help you to get better experience,So keep in touch</p>
        <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Full Name" autofocus>
        </div>
        <div class="input-groupmb-3">
            <input class="form-control" type="text" placeholder="Emial">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" name="" id="" placeholder="Your Message"></textarea>
        </div>
        <button class="btnSend">Send</button>
    </form>
</body>

</html>