<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bootstrap-master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <title>2a Short url service</title>
</head>

<body>
    <div class="container margintop">
        <div class="container-content col-md-12">
            <div class="card">
                <div class="card-header">
                    Try Short Url Provider, You'll Like It.
                </div>
                <div class="card-body">
                    <form class="form-content" action="">
                        <div class="form-group">
                            <label for="longurl"></label>
                            <textarea class="form-control" name="longurl" type="url" id="longurl" rows="6" placeholder="Shorten your long link here!" spellcheck="false"></textarea>
                            <br>
                            <div class="button">
                                <button type="button" id="btn-short" class="btnS">Shorten</button>
                                <button type="reset" id="btn-reset">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>