<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap-master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>2a Short url service</title>
</head>

<body>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                Original Long URL
            </span>
        </div>
        <input type=url class="form-control" value="https://www.youtube.com/watch?v=SMxx9XEF6m03d7ah1ds122dsajhjw98dqwjnvcsa9">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                Shorten URL
            </span>
        </div>
        <input type=url id="shorturl" class="form-control" value="https://www.2a.nz/x5tc8">
        <button style="font-size:16px" class="btnCopy fa fa-copy btnCopy" data-clipboard-target=#shorturl>
        </button>

    </div>
    <hr>
    <p class="text-center">Quick Acess QR Code</p>
    <div id="qrcode" class="text-center"></div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-block">Generating More</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-block">Viewing Report</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success">Vistor of the day: 18</div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success">Total vistors: 1000</div>
        </div>
    </div>

    <hr>
    <table class="table table-responsive">
        <table class="table table-bordered table-sm">
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>IP</th>
                <th>Location</th>
                <th>Method</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>1</td>
                <td>http://www.mao.co.nz/x1g3u8</td>
                <td class="text-success">192.168.4.1</td>
                <td class="text-danger">Chine</td>
                <td>GET</td>
                <td>2020-04-20 11:11:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>http://www.mou.nz/u8j16</td>
                <td class="text-success">192.168.4.2</td>
                <td class="text-danger">Singapore</td>
                <td>GET</td>
                <td>2020-04-21 10:50:00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>http://www.cheng.co.nz/1f3vq</td>
                <td class="text-success">192.168.4.3</td>
                <td class="text-danger">New Zealand</td>
                <td>GET</td>
                <td>2020-04-22 23:20:00</td>
            </tr>
            <tr>
                <td>4</td>
                <td>http://www.cheng.co.nz/4dv2s</td>
                <td class="text-success">192.168.4.4</td>
                <td class="text-danger">Australia</td>
                <td>GET</td>
                <td>2020-04-23 14:05:00</td>
            </tr>
        </table>
    </table>
    <div class="pager">
        <div class="pagerwrapper">
            <ul class="pager-ul">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">URL</th>
                <th scope="col">IP</th>
                <th scope="col">Location</th>
                <th scope="col">Method</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>http://www.mao.co.nz/x1g3u8</td>
                <td class="text-success">192.168.4.1</td>
                <td class="text-danger">Chine</td>
                <td>GET</td>
                <td>2020-04-20 11:11:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>http://www.mou.nz/u8j16</td>
                <td class="text-success">192.168.4.2</td>
                <td class="text-danger">Singapore</td>
                <td>GET</td>
                <td>2020-04-21 10:50:00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>http://www.cheng.co.nz/1f3vq</td>
                <td class="text-success">192.168.4.3</td>
                <td class="text-danger">New Zealand</td>
                <td>GET</td>
                <td>2020-04-22 23:20:00</td>
            </tr>
            <tr>
                <td>4</td>
                <td>http://www.cheng.co.nz/4dv2s</td>
                <td class="text-success">192.168.4.4</td>
                <td class="text-danger">Australia</td>
                <td>GET</td>
                <td>2020-04-23 14:05:00</td>
            </tr>
        </tbody>
    </table>
    <div class="pager">
        <div class="pagerwrapper">
            <ul class="pager-ul">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</body>

<script src=" https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js "></script>
<script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js "></script>
<script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js "></script>
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js "></script>
<script>
    $(document).ready(function() {
        // <!--set qrcode width and height and etc -- >
        $("#qrcode ").qrcode({
            render: "canvas",
            width: 200,
            height: 200,
            text: "overview.html",
            backgroud: "#4f4f4f",
            foreground: "#008d36"
        })
    });
</script>
<script>
    toastr.options = {
        "positionClass ": "toast-top-center "
    };
    var clipboard = new ClipboardJS('.btnCopy');
    clipboard.on('success', function(e) {
        toastr.success('copied');
    });
</script>

</html>