<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#4f4f4f">
    <meta name="theme-color" content="#4f4f4f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4f4f4f">
    <title>2a Short url service - b2b</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../images/site.webmanifest">
    <link rel="mask-icon" href="..images/safari-pinned-tab.svg" color="#008d36">

</head>

<body>
    <!-- head nav start -->
    <div class="head-nav-container">
        <div class="head-nav-container-main">
            <!-- nav left start -->
            <ul class="head-nav-ul-left">
                <li>
                    <!-- <a href="/">
                        <img style="height:38px;line-height: 38px; margin-top: -4px;" src="../static/images/2a.nz.logo.PNG" alt="">
                    <iframe src="../static/images/2a.nz.svg" frameborder="0" style=" line-height: 24px;height: 24px;"></iframe>
                    </a> -->
                </li>
            </ul>

            <!-- nav left end -->

            <!-- nav right start -->
            <ul class="head-nav-ul-right">
                <li>
                    <a href="/">Home</a></li>

                <li class="Scenarios">
                    <a href="#">Scenarios</a>
                    <ul class="Scenarios-box">
                        <li><a href="#">B2B</a></li>
                        <li><a href="#">SocialMedia</a></li>
                        <li><a href="#">SMS</a></li>
                    </ul>
                    <img src="../images/downarrow.png" class="downarrow">
                </li>

                <li><a href="#">Guide</a></li>

                <li>
                    <a href="#">Contact</a></li>
            </ul>
            <!-- nav right end -->
        </div>
    </div>
    <!-- head nav end -->

    <div class="biglogo">
        <iframe src="../images/2a.nz.svg" class="big_logo" frameborder="0"></iframe>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div id="blink" style="font-size: 60px;">Under construction....</div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <!-- foot nav start -->
    <div class="foot-nav-container-content">
        <div class="foot-nav-container-main-footer">
            <ul class="foot-nav-ul">
                <li><a href="https://github.com/haganmao/2A-SHORTURL">Github</a>
                    <img style="width: 16px;height:16px;" src="../images/github-logo.png" alt=""></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li class="language">
                    <a href="">Language</a></li>
            </ul>
            <p class="copyright">
                © 2020 2A SHORTURL Inc. All Rights Reserved.
            </p>
        </div>
        <br>
    </div>
    <!-- foot nav end -->

    <script language="javascript">
        function changeColor()

        { 
            var color = "#008d36|#2bb15e|#234b32|#0af765|#8dfcb7|#247543|green|gray"; 
            color = color.split("|"); 
            document.getElementById("blink").style.color = color[parseInt(Math.random() * color.length)]; 
        } 
        setInterval("changeColor()", 500);
    </script>
</body>

</html>