/* colors 
#666699 purplegrey
#FFFFCC eggyellow
#0099CC lightblue

#0099CC lightblue
#FFFFFF white
#666666 darkgrey
*/


/* initial project css style */

body,
div,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul,
li {
    list-style: none;
}

.card {
    border: 1px groove #a2cd3f;
    border-radius: 5px;
    box-shadow: ;
}

.button {
    text-align: center;
}

.expireTime {
    display: block;
    text-align: center;
}

.btnS {
    position: relative;
    background-color: #a2cd3f;
    border: 1px solid #666666;
    border-radius: 5px;
    color: #FFFFFF;
    width: 10%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.btnS:after {
    content: "";
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -100%!important;
    opacity: 1;
    transition: all 5s
}

.btnS:active:after {
    padding: 0;
    margin: 0;
    background-color: #b3ff00;
    opacity: 1;
    transition: 0s;
}

#btn-reset {
    width: 10%;
    background-color: #666666;
    border: 1px solid #666666;
    color: #FFFFFF;
    border-radius: 5px;
}

#btn-short:hover {
    box-shadow: 0 10px 15px 0 #a2cd3f, 0 5px 20px 0 #a2cd3f;
}

#btn-reset:hover {
    box-shadow: 0 10px 15px 0 #666666, 0 5px 20px 0 #666666;
}

#longurl {
    width: 100%;
    border-radius: 10px;
}

.margintop {
    margin-top: 250px;
}

.head-nav-container {
    height: 40px;
    line-height: 40px;
    border-top: #a2cd3f solid 4px;
}

.head-nav-container-main {
    margin: 0 auto;
    width: 100%;
    width: 1280px;
}

.copyright {
    font-size: 12px;
    color: #aaaaaa;
}

a {
    text-decoration: none;
    color: #666666;
}

.head-nav-ul-left {
    float: left;
}

.head-nav-ul-left li {
    float: left;
    padding: 0 20px;
}

.head-nav-ul-left>li:hover {
    border-bottom: solid 1px #a2cd3f;
    color: #a2cd3f;
}

.head-nav-ul-left>li>a:hover {
    background-color: #ededeef0;
    color: #a2cd3f;
}

.head-nav-ul-right {
    float: right;
}

.head-nav-ul-right>li {
    float: left;
    padding: 0 20px;
}

.head-nav-ul-right>li:hover {
    border-bottom: solid 1px #a2cd3f;
    background-color: #ededeef0;
    color: #a2cd3f;
}

.head-nav-ul-right>li>a:hover {
    background-color: #ededeef0;
    color: #a2cd3f;
}

.Scenarios-box {
    display: none;
    position: absolute;
}

.Scenarios:hover .Scenarios-box {
    display: block;
}

.Scenarios-box li:hover {
    border-top: solid 1px #a2cd3f;
    border-bottom: solid 1px #a2cd3f;
}

.Scenarios-box li:hover,
.Scenarios-box li a:hover {
    background-color: #ededeef0;
    color: #a2cd3f;
}

.Scenarios-box li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    padding-left: 20px;
}

.downarrow {
    height: 14px;
    width: 14px;
}

.card-header {
    color: #303659;
    font-weight: bolder;
    background-color: transparent;
}

.head-nav-ul-right .Scenarios>img:hover {
    border-bottom: 1px solid #a2cd3f;
}

.foot-nav-container-main-footer {
    width: 1280px;
    margin: 0 auto;
}

.foot-nav-container-main-footer {
    text-align: center;
    padding-top: 60px;
}

.foot-nav-container-main-footer .foot-nav-ul li {
    display: inline-block;
    border-right: #666666 solid 1px;
    padding: 0 30px;
}

.foot-nav-container-main-footer .foot-nav-ul li a {
    color: #666666;
}

.foot-nav-container-main-footer .foot-nav-ul li:hover a {
    color: #a2cd3f;
}