/* colors 
#666699 purplegrey
#FFFFCC eggyellow
#0099CC lightblue

#0099CC lightblue
#FFFFFF white
#666666 darkgrey

Green
RBG - 0, 141, 54
Hex - #008d36

Grey 
Greyscale - 69%
RGB - 79, 79, 79
Hex - #4f4f4f

*/


/* initial project css style */

body,
div,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul,
li {
    list-style: none;
}

.card {
    border: 1px groove #008d36;
    border-radius: 5px;
    box-shadow: 0 10px 15px 0 #008d36, 0 5px 20px 0 #008d36;
}

.button {
    text-align: center;
}

.expireTime {
    display: block;
    text-align: center;
}

.btnS {
    position: relative;
    background-color: #008d36;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    color: #FFFFFF;
    width: 10%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.btnS:after {
    content: "";
    position: absolute;
    padding-top: 350%;
    padding-left: 350%;
    margin-left: -100%!important;
    /* margin-top: -100%!important;
    margin-bottom: -100%!important; */
    opacity: 1;
    transition: all 3s
}

.btnS:active:after {
    padding: 0;
    margin: 0;
    background-color: #b3ff00;
    opacity: 1;
    transition: 0s;
}

#btn-reset {
    width: 10%;
    background-color: #4f4f4f;
    border: 1px solid #4f4f4f;
    color: #FFFFFF;
    border-radius: 5px;
}

#btn-short:hover {
    box-shadow: 0 10px 15px 0 #008d36, 0 5px 20px 0 #008d36;
}

#btn-reset:hover {
    box-shadow: 0 10px 15px 0 #4f4f4f, 0 5px 20px 0 #4f4f4f;
}

#longurl {
    width: 100%;
    border-radius: 10px;
}

.margintop {
    margin-top: 250px;
}

.head-nav-container {
    height: 40px;
    line-height: 40px;
    border-top: #008d36 solid 4px;
}

.head-nav-container-main {
    margin: 0 auto;
    width: 100%;
    width: 1280px;
}

.copyright {
    font-size: 12px;
    color: #aaaaaa;
}

a {
    text-decoration: none;
    color: #4f4f4f;
}

.head-nav-ul-left {
    float: left;
}

.head-nav-ul-left li {
    float: left;
    padding: 0 20px;
}

.head-nav-ul-left>li:hover {
    /* border-bottom: solid 1px #a2cd3f; */
    text-decoration: none;
    color: #008d36;
}

.head-nav-ul-left>li>a:hover {
    color: #008d36;
}

.head-nav-ul-right {
    float: right;
}

.head-nav-ul-right>li {
    float: left;
    padding: 0 20px;
}

.head-nav-ul-right>li:hover {
    border-bottom: solid 1px #008d36;
    background-color: #ededeef0;
    color: #008d36;
}

.head-nav-ul-right>li>a:hover {
    background-color: #ededeef0;
    color: #008d36;
}

.Scenarios-box {
    display: none;
    position: absolute;
}

.Scenarios:hover .Scenarios-box {
    display: block;
}

.Scenarios-box li:hover {
    border-top: solid 1px #008d36;
    border-bottom: solid 1px #008d36;
}

.Scenarios-box li:hover,
.Scenarios-box li a:hover {
    background-color: #ededeef0;
    color: #008d36;
}

.Scenarios-box li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    padding-left: 20px;
}

.downarrow {
    height: 14px;
    width: 14px;
}

.card-header {
    color: #4f4f4f;
    font-weight: bolder;
    background-color: transparent;
}

.head-nav-ul-right .Scenarios>img:hover {
    border-bottom: 1px solid #008d36;
}

.foot-nav-container-main-footer {
    width: 1280px;
    margin: 0 auto;
}

.foot-nav-container-main-footer {
    text-align: center;
    padding-top: 60px;
}

.foot-nav-container-main-footer .foot-nav-ul li {
    display: inline-block;
    border-right: #4f4f4f solid 1px;
    padding: 0 30px;
}

.foot-nav-container-main-footer .foot-nav-ul li a {
    color: #4f4f4f;
}

.foot-nav-container-main-footer .foot-nav-ul li:hover a {
    color: #008d36;
}

.toast-top-center {
    width: 38px;
    height: 50%;
}

.pagerwrapper {
    text-align: center;
}

.pagerwrapper .pager-ul li {
    display: inline-block;
}